/*
 * Empty Stylesheet file.
 */

.contact-dialog-anchor-pane {
   -fx-border-color: gray;
}

.cancel-button, .contact-options-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.cancel-button:hover, 
.contact-options-button:hover,
.email-button:hover, 
.edit-contact-button:hover, 
.delete-contact-button:hover {
    -fx-background-color: #e1e2e1;
}

.edit-contact-button, .email-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-color: #31a1c9;
    -fx-border-width: 1;
}

.delete-contact-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-color: #ff0000;
    -fx-border-width: 1;
}


.dialog-contact-email {
    -fx-text-fill: #5594ab;
}

.dialog-contact-email:hover {
    -fx-text-fill: #f536c5;
}

.contact-info-hbox{
    -fx-background-color: #e1e2e1;
    -fx-background-radius: 10;
    -fx-border-width: 0;
}

.edit-contact-top-menu-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}
.edit-image-button {
    -fx-background-color: #0089dd;
    -fx-background-radius: 100;
    -fx-border-width: 0;
}
.edit-image-button:hover{
    -fx-background-color: #007cbf;
}

.edit-contact-top-menu-button:hover {
    -fx-background-color: #e1e2e1;
    -fx-font-size: 14px;
}

.edit-contact-text-field {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: derive(gray, 70%);
    -fx-background-color: transparent;
    -fx-padding: 0 0 -5 5;
    -fx-text-fill: derive(black, 70%);
    -fx-font-size: 18px;
}

.edit-contact-text-field:focused {
    -fx-border-color: #1f82c9;
}

/**  --CUSTOM ALERTS--  **/
.alert-root {
    -fx-border-color: #23a8e1;
}
.alert-header {
    -fx-background-color: #23a8e1;
}
.alert-button {
    -fx-background-color: #e1e2e1;
    -fx-pref-width: 88;
}
.alert-button:hover {
    -fx-background-color: #d6d6d6;
    -fx-font-size: 13px;
}

/** --IMPORT VIEW-- **/
.import-box{
    -fx-border-color:  #00addd;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
}

.choose-file-button {
    -fx-background-color: #23a8e1;
    -fx-background-radius: 0;
    -fx-pref-height: 40px;
}
.choose-file-button:hover {
    -fx-background-color: #228ba8;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: -1;
}
.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:hover {
    -fx-background-color: silver;
}

.scroll-bar .thumb {
    -fx-background-color: silver;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-bar .thumb:hover {
    -fx-background-color: derive(black, 60%);
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding :0;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}